
.imagine-femeie{


}
.dreptunghi{

    position: absolute;
    width: 100%;
    height: 406px;
    left: 0px;
    top: 882px;

background: #92E3A9;
}

.cum_func{

    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 121.1%;
    /* or 48px */
    
    text-align: center;
    
    color: #263238;
}

.all-content{

width: 100%;
height: 406px;


background: #92E3A9;
}
.number-class{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 121.1%;
    text-align: center;
    color: #92E3A9;
    width: 50px;
    height: 50px;
    background: #263238;
    border-radius: 5px;
    color: #92E3A9;
    font-size: 37px;
    float: left;
}
.text-content-number{
  
width: 229px;
height: 114px;


font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 19px;

color: #263238;
}
.move-down{
    margin-top:50px;
}
.col-sm-12.cum_func {
    margin-top: 52px;
}

.formular{
   

  

    margin-top: 10%;
    align-content: center;
    position: relative;

    margin-bottom: 14%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.2);
    border-radius: 5px;
}
.titlu-text-down{
    
width: 341px;
height: 118px;


font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 121.1%;
/* or 35px */


color: #263238;
}

.titlu-text-desc{
 
width: 225px;
height: 86px;


font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 121.1%;
/* or 19px */


color: #263238;

}
.content-card{

    padding: 72px;
}

footer.page-footer.font-small.blue.pt-4 {
    /* position: absolute; */
    width: 100%;
    /* height: 129px; */
    /* left: 0px; */
    /* top: 1964px; */
    background: #263238;
}

.footer-copyright.text-center.py-3 {
    height: 100px;
}
.footer-down{

    bottom: -55%;
height: 38px;
position: relative;

font-family: Merriweather;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 121.1%;
/* or 18px */

text-align: center;

color: #FFFFFF;
}

textarea#exampleFormControlTextarea1 {
    /* position: absolute; */
    width: 350px;
    height: 82px;
    left: 765px;
    /* top: 1636px; */
    border: 1px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
}

input#email {
    /* position: absolute; */
    width: 350px;
    height: 40px;
    left: 765px;
    /* top: 1546px; */
    border: 1px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
}

button.btn.btn-default.btn-trimite {
    /* position: absolute; */
    width: 126px;
    height: 40px;
  
    /* top: 1746px; */
    background: #263238;
    border-radius: 5px;
    color: #92E3A9;
}
button.btn.btn-default.button-left-down {
   
   
    height: 40px;
    color: #263238 !important;

    background: #92E3A9;
    border-radius: 5px;
}
button.btn.btn-default.button-right-down {
    width: 198px;
    height: 40px;
    background: #263238;
    border-radius: 5px;
    color: #92e3a9;
}

.navbar-inverse {
   background-color:white;
    border-color: white;
}

a.button.btn.btn-default.btn-trimite {
    /* position: absolute; */
    width: 100px;
    /* height: 40px; */
    /* left: 1003px; */
    /* top: 79px; */
    background: #263238;
    border-radius: 5px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #92E3A9;
}


.part-top-header {
    margin-bottom: 100px;
    margin-top: 100px;
}

.nav-top-header {
    margin-top: 24px;
}
.form-show-class{
    position: relative;
    left: 100px;
}

.row.move-down {
    background: #92E3A9;
}

 .exprima {
    width: 100%;
    height: 2%;
    left: -2%;
    top: 50%;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
  }

  .modal-header {
    width: 100%;
    height: 2%;
    left: 0%;
    top: 0%;
    background: #92e3a9;
  }

 .modal-body {
    width: 100%;
    height: 90%;
    left: 0%;
    top: 0%;
    background: #FFFFFF;
  }

.modal-footer {
    width: 100%;
    height: 20%;
    left: 0%;
    top: 0%;
    background: #FFFFFF;
  }

  .rectangle15 {
    position: absolute;
    width: 100%;
    height: 3%;
    left: 0%;
    top: 50%;
    background: #92e3a9;
  }

 .plangeri {
    position: absolute;
    width: 100%;
    height: 2%;
    left: -20%;
    top: 50%;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #000000;
  }

  .rectangle17 {
    position: absolute;
    width: 23%;
    height: 8%;
    left: 35%;
    top: 33%;
    background: #263238;
    border-radius: 8%;
  }

  .incarca {
    position: absolute;
    width: 100%;
    height: 2%;
    left: 0%;
    top: 50%;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    text-align: center;
    color: #92e3a9;
  }

  .tetris {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -39%;
    top: 65%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: black;
  }

  .EGC {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -38.5%;
    top: 68%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #92e3a9;
  }

  .bani {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -22.5%;
    top: 72%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #263238;
  }

  .scoala {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -33%;
    top: 74.7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #92e3a9;
  }

  .probleme {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -16%;
    top: 78.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #263238;
  }

  .mate1 {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -36.5%;
    top: 81.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #92e3a9;
  }

  .editor {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -30%;
    top: 85%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #263238;
  }

  .PC {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -39.5%;
    top: 88%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #92e3a9;
  }

  .detector {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -28.5%;
    top: 92%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #263238;
  }

  .licenta {
    position: absolute;
    width: 100%;
    height: 3%;
    left: -36.5%;
    top: 94.8%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 120%;
    line-height: 2%;
    color: #92e3a9;
  }

.dropbtn {
    position: absolute;
    background-color: black;
    color: white;
    padding: 1%;
    font-size: 120%;
    border: none;
    cursor: pointer;
    left: 18%;
    right: 1%;
    top: -25%;
    bottom: 1%;
  }

  .dropbtn:hover,
  .dropbtn:focus {
    background-color: #2980b9;
  }

  select {
    appearance: none;
    outline: 0;
    background: white;
    background-image: none;
    width: 100%;
    height: 100%;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
  }
  .select {
    position: absolute;
    display: block;
    width: 87%;
    height: 6%;
    top: 12%;
    left: 6.5%;
    line-height: 2;
    text-align: center;
    overflow: hidden;
  }

  input[type="text"] {
    position: absolute;
    width: 87%;
    padding: 12px 20px;
    margin: 8px;
    height: 6%;
    top: 20%;
    left: 5%;
    border: 1px solid #263238;
    border-radius: 5px;
    box-sizing: border-box;
  }

