
.imagine-femeie{


}
.dreptunghi{

    position: absolute;
    width: 100%;
    height: 406px;
    left: 0px;
    top: 882px;

background: #92E3A9;
}

.cum_func{

    font-family: Merriweather;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 121.1%;
    /* or 48px */
    
    text-align: center;
    
    color: #263238;
}

.all-content{

width: 100%;
height: 406px;


background: #92E3A9;
}
.number-class{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 121.1%;
    text-align: center;
    color: #92E3A9;
    width: 50px;
    height: 50px;
    background: #263238;
    border-radius: 5px;
    color: #92E3A9;
    font-size: 37px;
    float: left;
}
.text-content-number{
  
    width: 100%;
    height: 114px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #263238;
}
.move-down{
    margin-top:50px;
}
.col-sm-12.cum_func {
    margin-top: 52px;
}

.formular{
     margin-top: 40%;
    align-content: center;
    position: relative;

    margin-bottom: 14%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(38, 50, 56, 0.2);
    border-radius: 5px;
}
.titlu-text-down{
    width: 100%;
    margin-bottom: 38px;

height: 118px;


font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 29px;
line-height: 121.1%;
/* or 35px */


color: #263238;
}

.modal-title {
    /* position: absolute; */
    width: 418px;
    height: 27px;
    /* left: 36px; */
    /* top: 14px; */
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    line-height: 1.42857143;
}

.titlu-text-desc{
 
width: 225px;
height: 86px;


font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 121.1%;
/* or 19px */


color: #263238;

}
.content-card{

   /* padding: 72px;*/
}

footer.page-footer.font-small.blue.pt-4 {
    /* position: absolute; */
    width: 100%;
    /* height: 129px; */
    /* left: 0px; */
    /* top: 1964px; */
    background: #263238;
}

.footer-copyright.text-center.py-3 {
    height: 100px;
}
.footer-down{

    bottom: -55%;
height: 38px;
position: relative;

font-family: Merriweather;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 121.1%;
/* or 18px */

text-align: center;

color: #FFFFFF;
}

textarea#exampleFormControlTextarea1 {
    /* position: absolute; */
    width: 66%;
    height: 82px;
    left: 765px;
    /* top: 1636px; */
    border: 1px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
}

input#email {
    /* position: absolute; */
  
    height: 40px;
    width: 66%;
    left: 765px;
    /* top: 1546px; */
    border: 1px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
}

button.btn.btn-default.btn-trimite {
    /* position: absolute; */
    width: 126px;
    height: 40px;
  
    /* top: 1746px; */
    background: #263238;
    border-radius: 5px;
    color: #92E3A9;
}
button.btn.btn-default.button-left-down {
   
   
    height: 40px;
    color: #263238 !important;

    background: #92E3A9;
    border-radius: 5px;
}
button.btn.btn-default.button-right-down {
    width: 198px;
    height: 40px;
    background: #263238;
    border-radius: 5px;
    color: #92e3a9;
}

.navbar-inverse {
   background-color:white;
    border-color: white;
}

a.button.btn.btn-default.btn-trimite {
    /* position: absolute; */
    width: 100px;
    /* height: 40px; */
    /* left: 1003px; */
    /* top: 79px; */
    background: #263238;
    border-radius: 5px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #92E3A9;
}


.part-top-header {
    margin-bottom: 100px;
    margin-top: 100px;
}

.nav-top-header {
    margin-top: 24px;
}
.form-show-class{
    position: relative;

}

.row.move-down {
    background: #92E3A9;
}
body{

    width: 100%;
}

.modal-header {
    background: #92E3A9;
}

.modal-header .close {
    margin-top: -2px;
    background-color: black !important;
    color: aliceblue;
    border-radius: 93%;
    padding: 2px;
    padding-left: 7px;
    padding-right: 6px;
}

select#sel1 {
    /* position: absolute; */
    width: 66%;
    height: 41px;
    /* left: 48.88px; */
    top: 95px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #A8A8A8;
}

.content-div {
    width: 92%;
    margin-left: 19%;
}
.btn-incarca {
    margin-left: 20%;
}
.input-titlu{
   
    height: 40px;
    width: 66%;
    left: 765px;
    /* top: 1546px; */
    border: 1px solid #263238;
    box-sizing: border-box;
    border-radius: 5px;
}

.plangeri-show {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    /* position: absolute; */
    /* width: 488px; */
    height: 49px;
    left: -2px;
    margin-left: -15px;
    top: 290px;
    width: 105.4%;
    background: #92E3A9;
    margin-top: 18px;
}
.plangeri_introduse {
    position: relative;
    text-align: left;
    top: 10px;
    left: 10px;
}

ul.items-list {
    list-style-type: none;
    margin-top: 14px;
}
.tetris{


font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #263238;
}

li.item_name_desc {
    margin-top: 12;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
     border-color:white; 
}

ul.nav.navbar-nav.navbar-right {
    margin-left: 17px;
    margin-top: 23px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle {
    background-color: #333;
}
.img-top-women{
    width: 100%;
}

select#sel1_top {
    width: 66% !important;
}

.imagine-femeie {
    width: 100%;
}